# User service (JWT)
JWT_SECRET=super-strong-secret-change-me
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=120

# Product service (MongoDB)
PRODUCT_STORAGE=mongodb
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=shop
MONGODB_COLLECTION=products

# Notification service (RabbitMQ)
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=notifications
